<app-nav-header></app-nav-header>
<div class="container-fluid vh-100">
    <div class="row">
        <app-theme-card class="col-12 col-sm-6"></app-theme-card>
        <app-theme-card class="col-12 col-sm-6"></app-theme-card>
        <app-theme-card class="col-12 col-sm-6"></app-theme-card>
        <app-theme-card class="col-12 col-sm-6"></app-theme-card>
        <app-theme-card class="col-12 col-sm-6"></app-theme-card>
        <app-theme-card class="col-12 col-sm-6"></app-theme-card>
        <app-theme-card class="col-12 col-sm-6"></app-theme-card>
    </div>
</div>
