<div id="card">
    <h3>Titre de l'article</h3>
    <div class="d-flex flex-row">
        <p class="w-50">Date:</p>
        <p class="w-50">Auteur:</p>
    </div>
    <p id="content" class="text-break">yhgvyuhvgbyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuyhjuvghgvgbyhjubvgyhjubvgyhjubg</p>
</div>
