#card {
    margin: 10px;
    padding: 10px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
}

h3 {
    font-weight: bold;
}

div > div > p {
    word-wrap: break-word;
    white-space: pre-wrap;
}

#content {
    height: 75px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}   